[Unit]
Description=Docker Service 
           
[Service]
ExecStart=/usr/bin/dockerd
ExecStop=killall dockerd
           
[Install]
WantedBy=default.target